<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wujiangconnect.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BDC7D379F81489305236DF32D3D785C55F919612</string>
				<key>dateExpires</key>
				<string>2020/3/17</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDC7D379F81489305236DF32D3D785C55F919612</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>wujiang_sslib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LE4V33Q4KQ</string>
						<key>name</key>
						<string>HUAXIAFENGYUN Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDC7D379F81489305236DF32D3D785C55F919612</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>LE4V33Q4KQ.wj.wujiangconnect.VpnTunnel</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>app-proxy-provider</string>
							<string>content-filter-provider</string>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.networking.vpn.api</key>
						<array>
							<string>allow-vpn</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>LE4V33Q4KQ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.wj.wujiangconnect</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>VpnTunnel.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>6d3eb161-d461-4ea8-8e0e-38896b717301</string>
						<key>name</key>
						<string>wujiangVpndisadhot</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LE4V33Q4KQ</string>
						<key>name</key>
						<string>HUAXIAFENGYUN Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LE4V33Q4KQ.wj.wujiangconnect</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>app-proxy-provider</string>
					<string>content-filter-provider</string>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.networking.vpn.api</key>
				<array>
					<string>allow-vpn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>LE4V33Q4KQ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>wujiangconnect.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>699a8795-03e1-45d7-bd22-f6a786dd2cb9</string>
				<key>name</key>
				<string>wujiangdisadhot</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LE4V33Q4KQ</string>
				<key>name</key>
				<string>HUAXIAFENGYUN Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
