<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wujiangconnect.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E5F60FBF5DC1EAC72E096E03F9A80C3A896A4773</string>
				<key>dateExpires</key>
				<string>2020/7/10</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5F60FBF5DC1EAC72E096E03F9A80C3A896A4773</string>
						<key>dateExpires</key>
						<string>2020/7/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TXJ3W3U58S</string>
						<key>name</key>
						<string>XIAOJU WANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5F60FBF5DC1EAC72E096E03F9A80C3A896A4773</string>
						<key>dateExpires</key>
						<string>2020/7/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PacketProcessor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TXJ3W3U58S</string>
						<key>name</key>
						<string>XIAOJU WANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5F60FBF5DC1EAC72E096E03F9A80C3A896A4773</string>
						<key>dateExpires</key>
						<string>2020/7/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>wujiang_sslib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TXJ3W3U58S</string>
						<key>name</key>
						<string>XIAOJU WANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5F60FBF5DC1EAC72E096E03F9A80C3A896A4773</string>
						<key>dateExpires</key>
						<string>2020/7/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>TXJ3W3U58S.wj.wujiangnet.VpnTunnel</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>app-proxy-provider</string>
							<string>content-filter-provider</string>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.networking.vpn.api</key>
						<array>
							<string>allow-vpn</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>TXJ3W3U58S</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>VpnTunnel.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>c336fcc9-de49-451f-860d-3c412de011ff</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: wj.wujiangnet.VpnTunnel</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TXJ3W3U58S</string>
						<key>name</key>
						<string>XIAOJU WANG</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TXJ3W3U58S.wj.wujiangnet</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>app-proxy-provider</string>
					<string>content-filter-provider</string>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.networking.vpn.api</key>
				<array>
					<string>allow-vpn</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>TXJ3W3U58S</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>wujiangconnect.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b162189-f2ca-4b97-a971-5644b106da34</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: wj.wujiangnet</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TXJ3W3U58S</string>
				<key>name</key>
				<string>XIAOJU WANG</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
